body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #111;
    color: #0f0;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #0f0;
    color: #111;
    border: none;
    border-radius: 5px;
  }
  
  #subtitle {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 2rem;
    border-top: 2px solid #0f0;
    padding-top: 1rem;
  }
  
